body{
    background-image: url('contact.jpg');
}
li a:hover{
    background-color: brown;
    border-radius: 15px;
}
form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.form-control {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 10px;
}
div > input{
    border-radius: 7px;
}
.name input, .email input, .phone input {
    width: 100%;
}
#comment {
    margin-left: 30px;
}
#submit{
    color: black;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    display: block; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media (min-width: 992px) {
    .label.m-3 {
        margin-left: 180px;
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .name input, .email input, .phone input {
        width: 100%;
    }
    .label.m-3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer {
        padding: 20px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .col-lg-6 {
        margin-bottom: 20px;
    }
}
